@media screen and (max-width:840px) {
  .redirect a {
    font-size:0;
  }
  .toolbar .redirect {
    width:50px;
  }
  .toolbar .redirect a img {
    opacity:1;
  }
  .redirectMenuHoverer .redirectMenuParent {
    opacity:0;
    top:-150px;
  }
  .redirectMenuHoverer:hover .redirectMenuParent {
    opacity:0 !important;
    top:-150px !important;
  }
}
@media screen and (max-width:440px) {
  #logo {
    opacity:0;
  }
  .redirectParent {
    left:0;
    right:initial;
  }
}
html {
  scroll-behavior:smooth;
}
body {
  background-color:rgb(255,255,255);
  background-image:url("../images/triangles.png");
  padding:0;
  margin:0;
  overflow-x:hidden;
  background-position:center;
  color:rgb(50,50,50);
}
p,h1,h2,li,td,th,input,span,h3 {
  font-family: 'Poppins','Noto Sans JP',sans-serif;
  margin:0;
  transition:0.3s;
}
table {
  box-shadow:0px 5px 10px rgb(220,220,220);
  background-color:rgb(255,255,255);
  border-collapse:collapse;
}
th {
  border-bottom:2px solid rgb(210,210,210);
  padding:5px;
}
.leftHeader {
  border-left:2px solid rgb(210,210,210);
  border-bottom:0;
}
tr td:first-child {
  border-left:0;
}
td {
  background-color:rgb(255,255,255);
  padding:5px;
  text-align:center;
  border-left:2px solid rgb(240,240,240);
}
a {
  font-family: 'Poppins','Noto Sans JP',sans-serif;
  margin:0;
  color:rgb(100,100,100);
  transition:0.5s;
  text-decoration:none;
}
a:hover {
  color:rgb(50,50,50);
}
#logo {
  transition:0.3s;
}
.redirect a img {
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:45px;
  height:45px;
  transition:0.5s;
}
h1 {
  font-size:50px;
}
img {
  user-select:none;
}
/*
Homepage
*/
.toolbar {
  width:100%;
  height:45px;
  padding-top:5px;
  padding-left:8px;
  top:0;
  left:0;
  position:fixed;
  background-color:white;
  z-index:1000;
}
.toolbar img {
  height:30px;
  top:50%;
  transform:translatey(-50%);
  position:absolute;
  left:10px;
}
.redirectParent {
  top:0;
  right:0;
  position:absolute;
  height:100%;
}
.redirect {
  width:150px;
  height:50px;
  display:inline-block;
  white-space:nowrap;
  float:left;
  position:relative;
  background-color:rgb(255,255,255);
  transition:0.5s;
}
.redirect a, .redirect p {
  margin:0;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  text-decoration:underline;
  transition:0;
}
.selectedRedirect {
  background-color:rgb(240,240,240);
}
.selectedRedirect > a {
  text-decoration:none;
}
.redirectMenuParent {
  height:150px;
  width:150px;
  position:absolute;
  opacity:0;
  top:-150px;
  transition:0.3s;
  z-index:-100;
  position:relative;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  overflow:hidden;
}
.redirectMenuHoverer p {
  text-decoration:none;
}
.redirectMenuHoverer:hover .redirectMenuParent {
  opacity:1;
  top:50px;
}
.referenceSection {
  padding:10px;
}
.referenceSection li {
  font-size:12px;
}
.referenceSection ul {
  margin:0;
}
.centerer {
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
}
.clickable {
  border-radius:30px;
  padding:5px;
  background-color:rgb(0,205,220);
  color:rgb(200,200,200);
  text-align:center;
  transition:0.2s;
  color:rgb(255,255,255);
}
.clickable:hover {
  margin-top:-5px;
}
.hidden {
  display:none;
}
.rainbowText {
  animation:rainbow 2s infinite;
  filter:brightness(0.7);
}
.smallText {
  font-size:12px;
}
.italic {
  font-style:italic;
}
.bold {
  font-weight:bold;
}
.tooltipper {
  position:relative;
  text-decoration:underline;
}
.tooltipper span {
  opacity:0;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%;
  background-color:rgb(255,255,255);
  padding:1px;
  text-align:center;
  transition:0.2s;
}
.tooltipper:hover span {
  opacity:1;
}
.flash {
  animation:flash 1s linear;
  border-radius:5px;
  padding:5px;
  display:inline-block;
}
.highlight {
  background-color:rgb(220,255,255);
}
.me {
  font-size:12px;
}
.underline {
  text-decoration:underline;
}
.warning {
  color:rgb(220,0,0);
}
.smallText {
  color:rgb(100,100,100);
  font-size:10px;
}
.inlineBlock {
  display:inline-block;
}
.box {
  border-radius:20px;
  background-color:rgb(255,255,255);
  box-shadow:2px 4px 10px rgb(220,220,220);
  margin:0px 10px 10px 10px;
  display:block;
  padding:0px 40px;
}
.socialMedia {
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
.socialMedia a img {
  height:20px;
  width:20px;
  position:relative;
  right:4px;
  top:3.5px;
}
/*
animations lance c. libatique, 9 sodium
*/
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes rainbow {
  0% {
    color:rgb(255,95,115);
  }
  16% {
    color:rgb(255,185,105);
  }
  32% {
    color:rgb(240,240,100);
  }
  48% {
    color:rgb(135,255,105);
  }
  64% {
    color:rgb(105,135,255);
  }
  80% {
    color:rgb(225,145,250);
  }
}
@keyframes flash {
  10% {
    background-color:rgb(190,255,255);
  }
}
