body {
  overflow-y:scroll;
}
.sectionOne {
  min-height:calc(100vh - 50px);
  top:50px;
  transition:opacity 1s;
  position:relative;
}
* {
  text-align:center;
}
h2 {
  color:rgb(100,100,100);
}
#pageTitle {
  white-space:nowrap;
}
.horizontalCenterer {
  position:absolute;
  left:50%;
  transform:translatex(-50%);
  height:100%;
}
.clickable {
  position:relative;
  top:0;
  box-sizing:border-box;
  color:rgb(255,255,255);
  margin-top:10px;
  transition:top 0.3s;
}
.clickable h2 {
  color:rgb(255,255,255);
}
.relativeCenterer {
  position:relative;
  margin-top:50%;
  transition:0.3s;
}
.beginExercise {
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
}
.clickableOption {
  border-top-left-radius:0px;
  border-top:2px solid rgb(115,255,15);
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
}
.clickable:hover {
  top:-5px;
  margin-top:10px;
}
.clickable:active {
  transform:translatey(2px);
}
.exerciseTypes,.exerciseOptions,.exerciseRatios {
  margin-bottom:20px;
  position:relative;
}
.exerciseTypes .clickable,.exerciseOptions .clickable {
  width:calc(33% - 5px);
  max-width:300px;
  min-width:150px;
  width:100%;
  position:relative;
}
.circle {
  height:15px;
  width:15px;
  border-radius:1000000px;
  background-color:rgb(170,255,105);
  position:absolute;
  top:-4px;
  left:-2px;
}
.unchosen {
  border-top:2px solid rgb(255,155,85) !important;
}
.unchosen .circle {
  background-color:rgb(255,155,85) !important;
}
.exerciseRatios h2 {
  font-size:15px;
  display:inline-block;
}
.clickableOption h2 {
  font-size:15px;
  line-height:15px;
  text-align:left;
  margin-left:7px;
}
.exerciseOptions {
  text-align:center;
}
.exerciseRatios p {
  white-space:pre;
}
.exerciseRatios p,.exerciseRatios input {
  display:inline-block;
  margin-bottom:5px;
}
.exerciseRatios p:last-child {
  display:block;
}
#options {
  transition:0.3s;
}
.problemParent {
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:50px;
  transition:opacity 1s, background-color 0.2s;
  width:100vw;
  height:calc(100vh - 50px);
}
