@media screen and (max-width:1000px) {
  .sectionTwo .chartParent, .sectionThree .chartParent {
    margin-left:0 !important;
    margin-right:0 !important;
    margin-top:280px; !important;
    width:100% !important;
  }
  .sectionTwo .textParent, .sectionThree .textParent {
    width:100% !important;
    height:320px !important;
    float:none !important;
  }
}
.popup p:first-child:hover {
  background-color:rgb(240,240,240);
}
.popup h1 {
  color:rgb(255,95,115);
}
.sectionOne {
  position:relative;
  margin-top:50px;
  height:auto;
}
.sectionOne .textParent {
  height:100%;
  width:70%;
  z-index:50;
  margin-left:auto;
  margin-right:auto;
}
#pageTitle {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  white-space:nowrap;
}
.sectionOne table {
  margin-left:auto;
  margin-right:auto;
}
.sectionOne .smallText {
  text-align:right;
}
.sectionOne .textParent h2 {
  text-align:center;
}
.sectionTwo {
  position:relative;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:20px;
}
.sectionThree {
  position:relative;
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:20px;
}
.sectionTwo .textParent,.sectionThree .textParent {
  width:30%;
  height:100%;
  position:absolute;
  text-align:center;
  transition:0.5s;
}
.sectionTwo .textParent {
  float:left;
}
.sectionThree .textParent {
  float:right;
  right:0;
}
.sectionTwo .chartParent,.sectionThree .chartParent {
  width:calc(70% - 20px);
  padding:20px;
  float:left;
  transition:0.5s;
}
.sectionTwo .chartParent {
  margin-left:30%;
}
.sectionThree .chartParent {
  margin-right:30%;
}
.characterDisplay {
  margin-top:10px;
  font-size:80px;
  line-height:100px;
  border:2px solid rgb(240,240,240);
  background-color:rgb(255,255,255);
  display:inline-block;
  white-space:nowrap;
}
.characterSyllable {
  margin-top:10px;
  margin-bottom:10px;
}
.generatedTable {
  margin-top:20px;
  margin-left:20px;
  float:left;
}
.generatedTable td, .generatedTable th {
  height:35px;
  width:35px;
  white-space:nowrap;
}
.generatedTable td {
  border-top:2px solid rgb(240,240,240);
}
.generatedTable td:hover {
  background-color:rgb(240,240,240);
}
body table .emptySquare:hover {
  background-color:rgb(255,255,255);
}
