@media screen and (max-width:344px) {
  .multipleChoiceProblem .choices .clickable:first-child {
    margin-left:10px !important;
  }
}
@media screen and (max-width:512px) {
  .overallScore .leftSide {
  }
  .overallScore .rightSide {
    line-height:50px !important;
    height:50px !important;
    top:0px !important;
    padding-left:0 !important;
    display:block !important;
  }
  .overallScore p {
    top:0 !important;
  }
}
@media screen and (max-width:650px) {
  .kanaBreakdown, .kanjiBreakdown {
    width:100% !important;
  }
  .box {
    display:inline-block;
  }
}
@media screen and (max-width:560px) {
  #rightSide {
    overflow-y:initial !important;
  }
  #leftSide {
    height:initial !important;
  }
  #leftSide .centerer {
    top:0 !important;
    transform:translate(0%,0%) !important;
    position:relative !important;
    left:0 !important;
    margin-left:auto;
    margin-right:auto;
  }
  .adjust {
    display:inline-block !important;
    width:100% !important;
    position:relative !important;
    float:left !important;
    height:auto;
  }
}
body {
  width:100vw;
  overflow:hidden;
}
.sectionOne {
  min-height:calc(100vh - 50px);
  top:50px;
  transition:opacity 1s;
  position:relative;
}
* {
  text-align:center;
}
.clickable {
  position:relative;
  top:0;
  box-sizing:border-box;
  color:rgb(255,255,255);
  margin-top:10px;
  transition:top 0.3s;
}
.clickable h2 {
  color:rgb(255,255,255);
}
.relativeCenterer {
  position:relative;
  margin-top:50%;
  transition:0.3s;
}
.beginExercise {
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
}
.clickableOption {
  border-top-left-radius:0px;
  border-top:2px solid rgb(115,255,15);
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
}
.clickable .smallText {
  color:rgb(255,255,255);
}
.clickable:hover {
  top:-5px;
  margin-top:10px;
}
.clickable:active {
  transform:translatey(2px);
}
.exerciseTypes,.exerciseOptions,.exerciseRatios {
  position:relative;
}
.exerciseTypes .clickable,.exerciseOptions .clickable,#exercisePresets .clickable {
  width:calc(33% - 5px);
  max-width:300px;
  min-width:150px;
  width:100%;
  position:relative;
}
#kanjiExerciseInfo {
  margin-bottom:10px;
}
#kanjiExerciseInfo > p {
  margin-top:10px;
}
.circle {
  height:15px;
  width:15px;
  border-radius:1000000px;
  background-color:rgb(170,255,105);
  position:absolute;
  top:-4px;
  left:-2px;
}
.unchosen {
  border-top:2px solid rgb(255,155,85) !important;
}
.unchosen .circle {
  background-color:rgb(255,155,85) !important;
}
.exerciseRatios h2 {
  font-size:15px;
  display:inline-block;
}
.clickableOption h2 {
  font-size:15px;
  line-height:15px;
  text-align:left;
  margin-left:7px;
  margin-right:5px;
}
.exerciseOptions {
  text-align:center;
}
#exerciseRatiosParent {
  margin-top:10px;
}
.exerciseRatios p {
  white-space:pre;
}
.exerciseRatios p,.exerciseRatios input {
  display:inline-block;
  margin-bottom:5px;
}
.exerciseRatios input {
  border:1px solid rgb(150,150,150);
}
.exerciseRatios p:last-child {
  display:block;
}
#exercisePresets,#options {
  transition:0.2s;
  pointer-events:none;
  opacity:0;
  position:absolute;
  top:5px;
  left:5px;
  width:calc(100% - 5px);
  padding-bottom:10px;
}
#rightSide {
  width:50%;
  height:calc(100vh - 50px);
  position:absolute;
  top:0px;
  right:-50%;
  transition:0.5s;
  overflow-y:scroll;
}
#leftSide {
  width:100%;
  height:calc(100vh - 50px);
  position:absolute;
  top:0;
  left:0;
  transition:0.5s;
}
.problemParent {
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:50px;
  transition:opacity 1s, background-color 0.2s;
  width:100vw;
  height:calc(100vh - 50px);
  overflow-y:scroll;
}
.endExercise {
  position:absolute;
  top:10px;
  left:10px;
  padding:5px 10px 5px 10px;
}
.endExercise:hover {
  top:5px;
}
.multipleChoiceProblem,#writeProblem,#kanjiProblem {
  transition:0.3s;
}
.multipleChoiceProblem .character {
  margin-top:10px;
  font-size:60px;
  line-height:60px;
  padding:10px;
  border:2px solid rgb(240,240,240);
  background-color:rgb(255,255,255);
  display:inline-block;
  transition:0.3s;
}
.multipleChoiceProblem .choices {
  margin-top:10px;
}
.multipleChoiceProblem .choices .clickable {
  display:inline-block;
  padding-left:30px;
  padding-right:15px;
  margin-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}
.multipleChoiceProblem .choices .clickable:first-child {
  margin-left:0;
}
.multipleChoiceProblem .choices .clickable p:last-child {
  position:absolute;
  top:50%;
  transform:translatey(-50%);
  left:7.5px;
  height:15px;
  width:15px;
  line-height:15px;
  border-radius:10px;
  background-color:white;
  color:rgb(100,100,100);
}
#writeProblem .smallText {
  margin-bottom:10px;
}
#writeProblem .wordParent {
  width:100%;
  position:relative;
  margin-bottom:5px;
}
body #writeProblem .expandedParent p{
  margin-top:15px;
}
#writeProblem .wordParent p {
  display:inline-block;
  text-align:center;
  padding-left:2.5px;
  padding-right:2.5px;
  margin-left:0px;
  color:rgb(150,150,150);
  border-right:1px solid rgb(150,150,150);
}
#writeProblem .wordParent > p:first-child {
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
#writeProblem .wordParent > p:last-child {
  border-right:0;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
#writeProblem .finishedWord {
  background-color:rgba(115,255,15,0.3);
}
#writeProblem .failedWord {
  background-color:rgba(255,60,60,0.3);
  position:relative;
}
#writeProblem .failedWord p {
  background-color:rgba(115,255,15,0.3);
  top:-30px;
  position:absolute;
  font-size:10px;
  left:50%;
  transform:translatex(-50%);
  color:rgb(100,100,100);
  border-radius:5px;
  border:0;
}
body #writeProblem .currentWord {
  color:rgb(0,0,0);
  border:1px solid rgb(100,100,100) !important;
  border-radius:5px;
  margin-left:4px;
  margin-right:4px;
  font-size:20px;
  padding-left:4px;
  padding-right:4px;
}
#writeProblem .currentWord .uncurrent {
  color:rgb(150,150,150);
  border:0;
  border-radius:0;
  margin-left:-4px;
  margin-right:0;
  font-size:15px;
  padding-left:2.5px;
  padding-right:2.5px;
}
#writeInput,#kanjiInput {
  height:30px;
  width:300px;
  font-size:20px;
  color:rgb(100,100,100);
  border:1px solid rgb(100,100,100);
  border-radius:10px;
  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
}
#writeInput:focus,#kanjiInput:focus {
  outline:0;
  border:1px solid rgb(80,180,10);
}
.scoresParent {
  width:100%;
  position:absolute;
  top:70px;
  left:0;
  opacity:0;
  pointer-events:none;
  overflow-y:scroll;
  z-index:100;
  height:100vh;
}
.overallScore {
  width:100%;
  position:relative;
}
.overallScore * {
  transition:0s;
}
.overallScore .centerer {
  text-align:center;
  width:100%;
  height:10px;
}
.overallScore .leftSide,.overallScore .rightSide {
  display:inline-block;
  height:156.8px;
  position:relative;
}
.overallScore .circleBorder {
  width:120px;
  height:120px;
  border-radius:100px;
  border:10px solid rgb(15,185,200);
  display:inline-block;
  padding-top:10px;
  box-sizing:border-box;
}
.overallScore .rightSide {
  line-height:120px;
  padding-left:20px;
  top:-70px;
}
.overallScore p {
  position:relative;
  top:-50px;
}
.breakdownParent {
  width:100%;
}
.kanaBreakdown, .kanjiBreakdown {
  width:50%;
  display:inline-block;
  float:left;
}
.kanaBreakdown p, .kanjiBreakdown p {
  display:inline-block;
}
.kanaBreakdown p span, .kanjiBreakdown p span {
  color:rgb(100,100,100);
}
.kanaBreakdown .specialAdjust {
  display:block;
  margin-bottom:5px;
}
.problemBreakdown, .analysis {
  width:100%;
  display:inline-block;
  padding-bottom:100px;
}
.problemMistakes {
  border-radius:10px;
  margin-top:5px;
  border-spacing:0 5px;
  padding:5px 10px 5px 10px;
  border-collapse:separate;
  display:inline-block;
}
.problemMistakes tr {
  margin-top:10px;
}
.problemMistakes tr td:first-child {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.problemMistakes tr td:nth-child(3) {
  background-color:rgba(115,255,15,0.3);
}
.problemMistakes tr td:last-child {
  background-color:rgba(255,60,60,0.3);
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
#exerciseProgressBar {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  margin-left:0;
}
.progressBar {
  position:relative;
  display:inline-block;
  width:150px;
  height:10px;
  background-color:rgb(230,230,230);
  border-radius:10px;
  margin-left:10px;
  border-radius:20px;
}
.progressBar > div {
  width:0%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  border-radius:20px;
  background-color:rgb(15,185,200);
  transition:0.5s;
}
.progressBar span {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:10px;
  margin-top:0.5px;
}
.invertedBox {
  border-radius:20px;
  background-color:rgb(245,245,245);
  padding:5px 15px 5px 15px;
  display:inline-block;
  width:100%;
  margin-bottom:10px;
}
.childCenterer {
  display:inline-block;
}
.childCenterer > * {
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
.bold {
  font-weight:bold;
}
